@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 100%;
  background-color: #f6f8fa;
  display: flex;
  gap: 10px;
  height: 100vh;
}


.modal-overlay {
  z-index: -1;
}

.modal-container {
  max-height: 54vh;
}


input::placeholder {
color: #1C4980;
}


